@import "./reset.css"; 
body{
    font-family: CocoSharp,Arial;
}
.elave-kart{
    display: flex;
    align-items: center;
    padding: 15px 40px;
    background: #fafafa;
    border-radius: 10px;
    margin-bottom: 10px;
}
.elave-logo{
    margin-right:20px ;
}
.elave-kart i{
    font-size: 40px;
    line-height: 65px;
    color: #000;
    margin-bottom: 10px;
    
}

.elave-head{
    font-weight: 800;
    margin-bottom: 10px;
    
}
.elave-des{
    font-weight: 400;
}
@media only screen and (max-width: 767px) {
    main{
        padding: 0 18px;
    }
    
    section{
        padding: 0 18px;
    }
}

    @media only screen and (min-width: 768px) {
        main{
            padding: 0 100px;
        }
        
        section{
            padding: 0 100px;
        }
        
        .elave-cards{
            display: grid;
            grid-template-columns: auto auto auto;
        }
        .elave-kart{
            display: block;
           text-align: center;
           margin: 20px;
           padding: 50px;
        }
    }